:root {
  --yith-wcan-filters_colors_titles: #434343;
  --yith-wcan-filters_colors_background: #FFFFFF;
  --yith-wcan-filters_colors_accent: #A7144C;
  --yith-wcan-filters_colors_accent_r: 167;
  --yith-wcan-filters_colors_accent_g: 20;
  --yith-wcan-filters_colors_accent_b: 76;
  --yith-wcan-color_swatches_border_radius: 100%;
  --yith-wcan-color_swatches_size: 30px;
  --yith-wcan-labels_style_background: #FFFFFF;
  --yith-wcan-labels_style_background_hover: #A7144C;
  --yith-wcan-labels_style_background_active: #A7144C;
  --yith-wcan-labels_style_text: #434343;
  --yith-wcan-labels_style_text_hover: #FFFFFF;
  --yith-wcan-labels_style_text_active: #FFFFFF;
  --yith-wcan-anchors_style_text: #434343;
  --yith-wcan-anchors_style_text_hover: #A7144C;
  --yith-wcan-anchors_style_text_active: #A7144C;

  --hb-color-light: hsl(0, 0%, 100%);
  --hb-color-dark: hsl(0, 0%, 26%);
  --hb-color-dark-bg: hsla(0, 0%, 26%, .5);
  --hb-color-pripary: hsl(337, 79%, 37%);
  --hb-color-pripary-bg: hsla(337, 79%, 37%, .3);
  --hb-color-secondary: hsl(80, 60%, 48%);
  --hb-color-secondary-bg: hsla(80, 60%, 48%, .3);
  --hb-color-tertiary: hsl(24, 100%, 50%);
  --hb-color-tertiary-bg: hsla(24, 100%, 50%, .3);

  --linear: all .25s linear;
  --shadow-dark: 1px 2px 5px rgba(27, 60, 112, 0.6);
  --shadow-light: 1px 2px 5px rgba(255, 255, 255, 0.6);
  --gap-lg: 90px;
  --gap-md: 50px;
  --gap-sm: 20px;
  --gap-xsm: 10px;

  --font-md: 22px;
  --font-sm: 16px;

  --lh: 150%;
}

@notebook: 1400px;
@tablet: 1000px;
@pre-mobile: 900px;
@mobile: 768px;
@mobile-sm: 500px;
